body, hmtl {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow-x: hidden;
}

/* --- Header * Add * Books ---- */
.container_header {
    background: rgb(54, 51, 51);
    height: 4.5rem;
    display: flex;
    align-items: center;
    padding: 0 0 0 2rem;
}

#form_container {
    display: flex;
    position: absolute;
    width: 100%;
}


#form_container input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fefefe;
    padding: .3rem;
    width: 40%;
    font-size: 1.3rem;
    color: #fefefe;
}

#form_container button {
    border: none;
    background: #fefefe;
    border-radius: 1.7rem;
    border: .3rem;
    padding: .8rem;
    font-size: 1.3rem;
    margin: 0 0 0 2rem;
    cursor: pointer;
    transition: .3s;
}

#form_container button:hover {
    background: rgb(223, 223, 223);
}

.container_main {
    padding: 2rem;
}


#list_books li {
    list-style-type: none;
    font-family: monospace;
    letter-spacing: .1rem;
    font-size: 1.5rem;

    background: rgba(214, 214, 214, 0.264);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.262);
    padding: 0 2rem 0 2rem;
    border-radius: 12px;
    margin: .5rem;
}

.item_list {
    display: flex;
    justify-content: space-between;
}

.item_list p:nth-child(2) {
    background: rgba(33, 32, 32, 0.095);
    padding: .3rem 1.5rem .3rem 1.5rem;
    border-radius: 1.7rem;
    cursor: pointer;
}

.item_list p:first-child {
    font-weight: 500;
    background: rgba(33, 32, 32, 0.095);
    padding: .4rem;
    border-radius: 1.7rem;
}